<div class="modal-footer">
    <p class="lead text-right">PharmacySpace</p>
    <a href="/users/logout">Logout</a>
</div>
<div class="jumbotron">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/pharmacy/home" role="button">Back</a>
    </p>
</div>