<div class="modal-footer">
    <p class="lead text-right">PharmacySpace</p>
    <a href="/users/logout">Logout</a>
</div>

<div class="jumbotron">
    <h1 class="display-5">Search for Patient Profile</h1>
    <p class="lead">Please insert the patient email to see the full profile.</p>
    <hr class="my-4">

    <form class="form-inline my-2 my-lg-0">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   id="email"
                   name="email"
                   class="form-control"
                   value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
    </form>

    <button type="submit" class="btn btn-primary">Search</button>
    <a href="/pharmacy/home" class="btn btn-secondary">Back</a>

</div>