<% include ./partials/messages %>

<div class="row mt-5">
  <div class="col-md-10 m-auto">
  	<h1 class="text-center">Your account has been activated!</h1>
      <a href="/users/pharmacy_login" class="btn btn-primary btn-lg btn-block">Go to Login</a>
  </div>
</div>