<div>
  <div class="card border-primary m-auto" style="max-width: 40rem">

    <div class="card-body text-center">
      <h1>Welcome to HealthBank!</h1>
    </div>
    
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <a href="/customer" class="btn btn-primary btn-lg btn-block mb-2.5">Customer</a>
        <a href="/pharmacy" class="btn btn-primary btn-lg btn-block mb-2.5">Pharmacy</a>
        <a href="/pharmacist" class="btn btn-primary btn-lg btn-block mb-2.5">Pharmacist</a>
        <a href="/driver" class="btn btn-primary btn-lg btn-block mb-2.5">Driver</a>
        <a href="/doctor" class="btn btn-primary btn-lg btn-block mb-3">Doctor</a>
      </div>
    </div>
</div>




</div>
